.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction:column;
}

.header{
    margin:30%;
    
}

select{
    display:block;
    width:100%;
    margin-bottom:10%;
    padding:10px;
}